//Hex codes: 
// #cf1578 pink
// #e8d21d yellow
// #039fbe blue
// #b20238 red

.App {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            
            li:hover {
                //color: #039fbe;
                transform: scale(1.2);
            }
        }

    }
}

// tablet
// @media only screen and (min-width:526px) {

// }

// desktop
// @media only screen and (min-width : 1038px) {

// }
